.container {
  text-align: center;
  display: grid;
  grid-template-columns: 20vw;
  grid-template-rows: 10vh ;
  height: 100vh;
}


.nav-bar {
  background-color: #282c34;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-display{
  background-color: grey;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  flex-direction:row;
}

.side-bar{
  grid-row:2 ;
  grid-column-start: 1;
  grid-column-end: 2;
  flex-direction: column;
}
